@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900&display=swap");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-instagram:before {
  content: "\ea92";
}

._icon-twitter:before {
  content: "\ea96";
}

._icon-youtube:before {
  content: "\ea9d";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #393d47;
}

body._lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header {
  padding: 23px 0px 23px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  background-color: #f3f2f2;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

@supports (gap: clamp( 0.9375rem , 0.2678272468rem  +  3.3483637662vw , 1.875rem )) {
  .header__container {
    gap: clamp( 0.9375rem , 0.2678272468rem  +  3.3483637662vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.2678272468rem  +  3.3483637662vw , 1.875rem )) {
  .header__container {
    gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 27.99875);
  }
}

.header__logo {
  -webkit-box-flex: 0 0 percent;
      -ms-flex: 0 0 percent 200, 1170;
          flex: 0 0 percent 200, 1170;
  font-weight: 800;
  line-height: 1;
  color: #393d47;
  text-transform: uppercase;
  white-space: nowrap;
}

@supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
  .header__logo {
    font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
  .header__logo {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55);
  }
}

.header__logo span {
  color: #89898950;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 84px;
          flex: 0 0 84px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 35px;
}

.menu__link {
  position: relative;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #393d47;
}

.menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #393d47;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.social__item {
  color: #393d47;
  position: relative;
}

@supports (font-size: clamp( 0.9375rem , 0.8928551498rem  +  0.2232242511vw , 1rem )) {
  .social__item::before {
    font-size: clamp( 0.9375rem , 0.8928551498rem  +  0.2232242511vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8928551498rem  +  0.2232242511vw , 1rem )) {
  .social__item::before {
    font-size: calc(0.9375rem + 0.0625 * (100vw - 20rem) / 27.99875);
  }
}

.social__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #393d47;
  -webkit-transition: width 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s;
  transition: width 0.3s ease 0s;
}

.footer {
  background-image: -o-linear-gradient(340deg, #f3f2f2, #393d47);
  background-image: linear-gradient(110deg, #f3f2f2, #393d47);
}

@supports (padding-top: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
  .footer__body {
    padding-top: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
  .footer__body {
    padding-top: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
  .footer__body {
    padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.4204545455rem  +  2.2727272727vw , 3.125rem )) {
  .footer__body {
    padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 55);
  }
}

.footer__container {
  margin-bottom: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.footer__logo {
  margin-bottom: 1.25rem;
  font-weight: 800;
  line-height: 1;
  color: #393d47;
  text-transform: uppercase;
  white-space: nowrap;
}

@supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
  .footer__logo {
    font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
  .footer__logo {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55);
  }
}

.footer__logo span {
  color: #89898950;
}

.footer__action {
  text-align: center;
}

.footer__email {
  display: inline-block;
  margin-bottom: 1.875rem;
  line-height: 1;
  color: #ffffff;
}

@supports (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
  .footer__email {
    font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9545454545rem  +  0.2272727273vw , 1.125rem )) {
  .footer__email {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 55);
  }
}

.footer__email span {
  text-transform: capitalize;
}

.footer__copy {
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
}

@supports (font-size: clamp( 0.9375rem , 0.8693181818rem  +  0.3409090909vw , 1.125rem )) {
  .footer__copy {
    font-size: clamp( 0.9375rem , 0.8693181818rem  +  0.3409090909vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8693181818rem  +  0.3409090909vw , 1.125rem )) {
  .footer__copy {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 55);
  }
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}

.social-footer__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

@supports (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
  .social-footer__item {
    font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8295454545rem  +  0.2272727273vw , 1rem )) {
  .social-footer__item {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55);
  }
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-footer__list li {
  text-align: center;
}

.menu-footer__list li:not(:last-child) {
  margin: 0px 0px 1.25rem 0px;
}

.menu-footer__link {
  position: relative;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #f3f2f2;
}

._no-webp .home{
  background: url("../img/home/bg.jpg") center/cover no-repeat; }

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 650px;
}

.home__image-ibg {
  padding: 0px 0px 40% 0px;
}

.home__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home__title {
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
}

@supports (font-size: clamp( 2.1875rem , 1.8465909091rem  +  1.7045454545vw , 3.125rem )) {
  .home__title {
    font-size: clamp( 2.1875rem , 1.8465909091rem  +  1.7045454545vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 2.1875rem , 1.8465909091rem  +  1.7045454545vw , 3.125rem )) {
  .home__title {
    font-size: calc(2.1875rem + 0.9375 * (100vw - 20rem) / 55);
  }
}

.animate__animated.animate__animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  --animate-duration: 1.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

/*@keyframes show {
	from {
	opacity: 0;
	transform: translateY(200%);

	}
	to {	
		opacity: 1;
		transform: translateY(0%);

	}

}*/

.blog {
  background-color: #f3f2f2;
  padding: 0px 0px 50px 0px;
}

.blog__title {
  padding: 70px 0px 0px 0px;
  margin: 0px 0px 40px 0px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #393d47;
}

@supports (font-size: clamp( 2.1875rem , 1.9602272727rem  +  1.1363636364vw , 2.8125rem )) {
  .blog__title {
    font-size: clamp( 2.1875rem , 1.9602272727rem  +  1.1363636364vw , 2.8125rem );
  }
}

@supports not (font-size: clamp( 2.1875rem , 1.9602272727rem  +  1.1363636364vw , 2.8125rem )) {
  .blog__title {
    font-size: calc(2.1875rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.blog__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.blog__item {
  height: 100%;
}

.item-blog {
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 20px 0px #5c5858bf;
          box-shadow: 0px 10px 20px 0px #5c5858bf;
}

.item-blog:hover .hover-item-blog {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 1;
  visibility: visible;
}

.item-blog__image-ibg {
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 61% 0px;
}

.item-blog__body {
  padding: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-blog__title {
  display: inline-block;
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 1.3;
  text-transform: uppercase;
  color: #393d47;
}

.item-blog__title:not(:last-child) {
  margin-bottom: 0.6em;
}

.item-blog__text {
  font-size: 1.125rem;
  line-height: 1;
  text-align: left;
  color: #393d47;
}

.item-blog__text a {
  color: royalblue;
}

.hover-item-blog {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.hover-item-blog__btn {
  padding: 15px 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #393d47;
  border: 3px solid #393d47;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.hover-item-blog__btn:hover {
  background-color: #ecebeb;
}

.block__content {
  font-size: 1.125rem;
  line-height: 1;
  text-align: left;
  color: #393d47;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

@media (min-width: 61.99875em) {
  .menu__link:hover::after {
    width: 100%;
  }

  .social__item:hover::after {
    width: 100%;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 3.75rem 0px 1.875rem 0px;
    text-align: center;
    background-color: #f3f2f2;
    z-index: 2;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .menu__body:before {
    content: "";
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 11;
    background-color: #f3f2f2;
  }

  .menu__body._active {
    opacity: 1;
    visibility: visible;
  }

  .menu__list {
    display: block;
    padding: 2.5rem 0px 0px 0px;
  }

  .menu__list li {
    text-align: center;
    margin: 0px 0px 1.25rem 0px;
    padding: 0px 0px 0px 0px;
  }

  .menu__list li:first-child {
    padding: 0px 0px 0px 0px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 25px;
    right: 15px;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #393d47;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active {
    z-index: 3;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .social {
    padding: 0px 45px 0px 0px;
  }
}

@media (max-width: 47.99875em) and (max-width: 47.99875em) {
  .menu__body {
    padding: 4.375rem 0px 1.875rem 0px;
  }
}

@media (max-width: 29.99875em) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__logo {
    text-align: center;
  }
}

@media (any-hover: hover) {
  .footer__email:hover {
    color: #c7c3c3;
  }

  .social-footer__item:hover {
    color: #c7c3c3;
  }

  .menu-footer__link:hover {
    color: #c7c3c3;
  }

  .item-blog__text a:hover {
    text-decoration: underline;
  }
}

._webp .home{ background: url(../img/home/bg.webp) center/cover no-repeat; }